.card {
    margin: auto;
    margin-top: 10px;
    width: 120vh;
    height: 700px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(6px);
    overflow: auto;
    text-align: center;
  }
  
  .card-content {
    padding: 1px;
  }
  
  .card::-webkit-scrollbar {
    width: 8px;
    margin-inline-end: 3px; /* Отступ справа для скролл-бара */
  }
  
  .card::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    border-radius: 10px; 
  }
  
  .card::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
  