* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  /* body {
 /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(9%2c 23%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M760 387L759 -172' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M675 13L674 372' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M734 414L733 -170' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M364 129L363 538' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M233 479L232 941' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1420 168L1419 -206' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M172 435L171 -155' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M383 347L382 757' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M713 788L712 584' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1390 161L1389 370' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M388 176L387 628' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1304 298L1303 -221' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M190 286L189 -47' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M450 161L449 366' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M490 134L489 -143' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M981 149L980 -415' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M244 656L243 273' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M8 177L7 720' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1402 316L1401 826' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M886 300L885 -191' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M917 613L916 1165' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1261 123L1260 -142' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1222 178L1221 566' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M677 201L676 539' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M320 209L319 430' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M196 553L195 1117' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M833 229L832 -207' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M21 217L20 624' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M226 131L225 -393' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M127 703L126 210' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M320 159L319 -69' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M69 751L68 436' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M286 218L285 -16' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M974 455L973 101' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M664 476L663 -104' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M35 84L34 495' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1022'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1023'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */

  
  
  .background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
    
  .background .shape {
    height: 350px;
    width: 350px;
    position: absolute;
    border-radius: 50%;
  }
  
  .shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -150px;
    top: -120px;
  }
    
  .shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -80px;
    bottom: -120px;
  }
  
  form {
    height: auto;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
  
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 35px;
  }
  
  form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
    
  form h3 {
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-size: 32px;
  }
  
  label {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    display: block;
  }
  
  input {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    display: block;
  }
  
  ::placeholder {
    color: #e5e5e5;
  }
  
  .checkbox {
    display: inline-block;
    vertical-align: middle;
  }
  
  .checkbox input[type="checkbox"] {
    display: none;
  }
  
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-top: 5px;
    cursor: pointer;
  }
  
  .checkbox label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out;
  }
  
  .checkbox input[type="checkbox"]:checked + label:before {
    border-color: #000000;
    background-color: #000000;
  }
  
  .checkbox label:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
  .authbtn {
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
  }
  
  .authbtn:hover {
    color: #ffffff;
    background-color: #080710;
  }
  
  .error{
    font-size: 13px;
    color: #e90000;
  }