.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  body {

 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2560' height='1600' preserveAspectRatio='none' viewBox='0 0 2560 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1041%26quot%3b)' fill='none'%3e%3crect width='2560' height='1600' x='0' y='0' fill='rgba(9%2c 23%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M1746 1233L1745 216' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M78 520L77 -240' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1643 806L1642 -125' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1445 984L1444 0' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1728 1049L1727 1483' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1953 1391L1952 255' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M976 39L975 -605' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1164 1082L1163 304' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M876 987L875 1877' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M884 980L883 1407' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1035 515L1034 1380' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2472 985L2471 279' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M546 430L545 -146' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2396 1455L2395 727' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M613 569L612 -202' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2296 525L2295 -623' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M609 776L608 1505' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1334 193L1333 1083' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1475 210L1474 813' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1017 560L1016 -508' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M335 1456L334 461' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1180 353L1179 1132' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2210 1014L2209 600' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M851 1036L850 1834' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M980 958L979 -78' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2315 1059L2314 1689' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M315 7L314 -443' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1502 1046L1501 110' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M465 1277L464 1966' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1379 74L1378 -343' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M260 1093L259 1708' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M892 629L891 1129' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1337 213L1336 822' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1940 956L1939 -47' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1674 195L1673 -560' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M422 856L421 348' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1639 123L1638 945' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1932 979L1931 136' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M784 84L783 526' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M235 1462L234 826' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1960 444L1959 1014' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M138 1260L137 1772' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1608 683L1607 95' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2128 375L2127 -746' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M550 1492L549 547' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M520 85L519 -986' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1021 393L1020 1384' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1802 1247L1801 1811' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1996 1178L1995 567' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1973 753L1972 -393' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2112 305L2111 1086' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1115 1380L1114 2237' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M507 1554L506 1095' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1594 251L1593 -784' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M566 787L565 275' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M54 1326L53 426' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M595 1363L594 1851' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M819 1027L818 2047' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1405 1470L1404 2158' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2366 642L2365 1377' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M821 678L820 1815' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1690 759L1689 230' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1043%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1794 1205L1793 1696' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M912 175L911 -281' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1042%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1041'%3e%3crect width='2560' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1042'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); 
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    /* background-color: #121212; */
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
    
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;

    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }


  .navbar {


    display: inline-flex;
    width: auto;
    justify-content: space-between;
    float:right;
  }

 