* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
text-decoration: none;
}



.main {
    
        margin-left: 50px; 
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
}

.card-wrapper {
    width: 320px;
    text-align: center;
    border-radius: 08px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    overflow: hidden;
    margin: 0 14px;
}

.card-header {
    
    padding: 60px 40px;
}

.pic {
   
    display: inline-block;
    padding: 05px;
    
}


.pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin-top: -50px;
}


.name {
    
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0px;
}