body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
  }
  
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(9%2c 23%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M760 387L759 -172' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M675 13L674 372' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M734 414L733 -170' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M364 129L363 538' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M233 479L232 941' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1420 168L1419 -206' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M172 435L171 -155' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M383 347L382 757' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M713 788L712 584' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1390 161L1389 370' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M388 176L387 628' stroke-width='10' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1304 298L1303 -221' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M190 286L189 -47' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M450 161L449 366' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M490 134L489 -143' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M981 149L980 -415' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M244 656L243 273' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M8 177L7 720' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1402 316L1401 826' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M886 300L885 -191' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M917 613L916 1165' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1261 123L1260 -142' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1222 178L1221 566' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M677 201L676 539' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M320 209L319 430' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M196 553L195 1117' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M833 229L832 -207' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M21 217L20 624' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M226 131L225 -393' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M127 703L126 210' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M320 159L319 -69' stroke-width='6' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M69 751L68 436' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M286 218L285 -16' stroke-width='6' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M974 455L973 101' stroke-width='8' stroke='url(%23SvgjsLinearGradient1022)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M664 476L663 -104' stroke-width='10' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M35 84L34 495' stroke-width='8' stroke='url(%23SvgjsLinearGradient1023)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1022'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1023'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .app {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);

    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    border-radius: 15px;
    box-shadow: 10px 10px 42px 0px rgba(63, 59, 59, 0.75);
   

     
    
   
   
  }

  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
    display: inline-block;
    padding: 25px 25px;
  }

.score-button {
  margin: 15px;
    display: inline-block;
    vertical-align: middle;
    max-width: 120px;





   


  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;

  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    
    width: 100%;
    display:inline-block;
    flex-direction:column ;
    justify-content: space-between;
  }
  
.btnquiz {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 15px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #234668;
    cursor: pointer;

  }

  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }

  .btnquiz:hover {
    border: 3px  #3a7999;
  }
  
  .btnquiz:focus {
    outline: none;
  }
  
  .btnquiz:svg {
    margin-right: 5px;
  }

  .background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
    
  .background .shape {
    height: 350px;
    width: 350px;
    position: absolute;
    border-radius: 50%;
  }
  
  .shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -250px;
    top: -20px;
  }
    
  .shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -50px;
    bottom: -20px;
  }
  