* {
    box-sizing: border-box;
  }
  


  .pic {
    
    display: inline-block;
    padding: 05px;


  }
  
  .pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;

  }

  .ptext {
    font-size: 25px;
  }
  /* Float four columns side by side */
  .pcolumn {
 margin-left: 100px;
    display: flex;

    float: left;
    width: 40%;
    padding: 0 10px;

  }
  
  /* Remove extra left and right margins, due to padding */
  .profcont {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .profcont:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 1200px) {
    .pcolumn {
      margin-left: 0;
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .pcard {
    height: 550px;
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border-radius: 25px;
  }


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(90deg,#2f1cff,#db5b6e);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-wrapper {
    width: 320px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    margin: 0 14px;
}




.cont {
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
    margin: 50px 50px;


background-color: white;
border-radius: 20px;
margin: 10px 20px;
height: 400px;


}
 */
